body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
    background-color: #e9e7df;
}

thank

form {
    margin: 0;
    padding: 15px;
    background-color: #6b7e9a;
    width: 100%;
    border-radius: 8px;
}

input, textarea {
    width: 100%;
    border: 1px solid;
    padding: 10px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    background-color: #e0dad8;
}

.button {
    margin: 10px;
    width: 100%;
    display: inline-block;
    padding: 10px 15px;
    font-size: 18px;
    background-color: #f5aa93;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    background-color: #ff8c68;
}
